body{
    background-color: lightgreen;
}

button{
    background-color: lightcoral;
}
@media only screen and (max-width: 600px){
    body{
        background-color: lightblue;
    }

    button{
        background-color: lightyellow;
    }
}